* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #edf2f8;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.7;
    font-size: 15px;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 70vh;
}

.flex {
    display: flex;
    justify-content: center;
} 

.card {
    padding: 35px;
    max-width: 1440px;
    align-items: center;
}

h2 {
    margin-top: 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.card_bg_orange {
    background-color: hsl(31, 77%, 52%);
}

.card_bg_cyan {
    background-color: hsl(184, 100%, 22%);
}

.card_bg_darkcyan {
    background-color: hsl(179, 100%, 13%);
}

.card_header h2 {
    color: hsl(0, 0%, 95%);
}

.card_lead p {
    margin-top: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.orange {
    color:hsl(31, 77%, 52%);
}

.cyan {
    color:hsl(184, 100%, 22%);
}

.darkcyan {
    color: hsl(179, 100%, 13%);
}

.btn {
    padding: 10px 15px;
    border: 3px solid #fff;
    border-radius: 30px;
    margin-top: 70px;
}

.btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    cursor: pointer;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 768px) {
    .flex{
        display: block;
        width: 100%;
    }

    .card {
        min-width: 375px;
    }
}

